    @* <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span></span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fa fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h4 class="text-uppercase fw-bold mb-4" style="margin-bottom: 0px">
                            <img src="./main/asset/img/logo.png" alt="" width="70%">
                        </h4>
                        <p>
                           This is purely a demonstration of the Lorenza theme by Fluorescent. It uses imagery and products kindly provided by Wooden Spoon Herbs. You can purchase all of what you see here on there site
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Main Menu
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Home</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset"></a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Lip</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Skincare</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fa fa-home me-3"></i> New York, NY 10012, US</p>
                        <p>
                            <i class="fa fa-envelope me-3"></i> info@example.com
                        </p>
                        <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4 copy" style="background-color: #3C7363;">
            © 2021 Copyright:
            <a class="text-reset fw-bold copy" href="https://mdbootstrap.com/">puncosmetic.com</a>
        </div>
        <!-- Copyright -->
    </footer> *@

 <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap" rel="stylesheet">

 <style>
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: normal;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Nunito Sans", Arial, sans-serif;
}

.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span,
.fa-facebook-f,
.fa-twitter,
.fa-google {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white !important;
}

.ftco-footer-social li a:hover {
    color: #fff;
}

.form-control {
    height: 52px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea.form-control {
    height: inherit !important;
}

.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    font-size: 11px;
}

.tagcloud a:hover {
    border: 1px solid #000;
}

.ftco-section {
    padding: 12em 0;
}

.ftco-section h2 {
    margin-bottom: 0;
}

footer {
    padding: 2em 0;
}

.footer-04 {
    background: #4a947f;
    padding-bottom: 0;
}

.footer-04 .border-top {
    border-color: #063f2f !important;
    background: #063f2f;
}

.footer-04 .footer-heading {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-04 .footer-heading .logo {
    letter-spacing: none;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}

.footer-04 p {
    color: rgba(255, 255, 255, 0.3);
    color: #fff !important;
    text-align: center;
}

.footer-04 a {
    color: #f7b633;
}

.footer-04 .ftco-footer-social li a {
    color: #fff;
}

.footer-04 .tagcloud a {
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: #fff !important;
}

.footer-04 .list-unstyled li a {
    color: rgba(255, 255, 255, 0.7);
    color: white !important;
    font-size: 20px;
}

.footer-04 .list-unstyled a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-04 .ftco-footer-social li a {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.footer-04 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.footer-04 .subscribe-form .form-group input {
    background: #f7f7f7 !important;
    border: none !important;
    outline: none !important;
    color: #000 !important;
    font-size: 16px;
    border-radius: 0;
}

.footer-04 .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.3) !important;
}

.footer-04 .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.3) !important;
}

.footer-04 .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.3) !important;
}

.footer-04 .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.3) !important;
}

.footer-04 .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer-04 .subscribe-form .form-group .submit {
    color: #fff !important;
    display: block;
    width: 52px;
    height: 52px;
    font-size: 16px;
    background: #063f2f !important;
    border: none;
    border-radius: 0;
}

.footer-04 .subscribe-form .form-group .submit:hover,
.footer-04 .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important;
}

.footer-04 .copyright a {
    color: rgba(255, 255, 255, 0.5);
}
</style>

    <footer class="footer-04">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading"><a href="#" class="logo"><img src="/ft.svg" /></a></h2>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                   
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Main menu</h2>
                    <ul class="list-unstyled">
                        <li><a href="/Shop" class="py-1 d-block">Product</a></li>
                        <li><a href="/Shop/BestSeller" class="py-1 d-block">Best seller</a></li>
                        <li><a href="/Skincare" class="py-1 d-block">Skincare</a></li>
                        <li><a href="/Shop/Blog" class="py-1 d-block">Blog</a></li>
                        <li><a href="/Shop/About" class="py-1 d-block">About us</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Product</h2>
                    <div class="tagcloud">
                        <a href="/Shop/ListMakeUp/1" class="tag-cloud-link">face</a>
                        <a href="/Shop/ListMakeUp/2" class="tag-cloud-link">eye</a>
                        <a href="/Shop/ListMakeUp/3" class="tag-cloud-link">lip</a>
                        <a href="/Shop/SkinCare" class="tag-cloud-link">skincare</a>
                        <a href="/Shop/Blog" class="tag-cloud-link">beauty</a>
                        <a href="/Shop/Blog" class="tag-cloud-link">blog</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Subcribe</h2>
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                            <button type="submit" class="form-control submit rounded-right"><span class="sr-only">Submit</span><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </form>
                    <h2 class="footer-heading mt-5">Follow us</h2>
                    <ul class="ftco-footer-social p-0">
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span><i class="fa fa-facebook-f"></i></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span><i class="fa fa-twitter"></i></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span><i class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-100  border-top py-1">
            <div class="container">
                <div>
                    <div>
                        <p class="copyright">
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">puncosmetic.com</a>
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>


