    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

        <a class="navbar-brand" href="/"><img src="~/main/asset/img/logo.png" alt="" width="25%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">BEST SELLER</a>
                </li>
                @* <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown">MAKE UP</a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="#">Face</a>
                        <a class="dropdown-item" href="#">Eye</a>
                        <a class="dropdown-item" href="#">Lip</a>
                    </div>
                </li> *@
                @{
                    ShopContext  _shopContext = new ShopContext();
                }
                @await Html.PartialAsync("_Category",_shopContext.Categories.ToList())

                <li class="nav-item">
                    <a class="nav-link" href="#">SKINCARE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Shop" asp-action="Index">ALL</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown">EXPLORE
	                 </a>
                    <div class="dropdown-content">
                        <a class="dropdown-item" asp-controller="Shop" asp-action="About">About</a>
                        <a class="dropdown-item" asp-controller="Shop" asp-action="Blog">Blog</a>
                    </div>
                </li>
               

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="others">
                    @* <li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li>
                    <li><i class="fa fa-user" aria-hidden="true"></i></li> *@
                    <partial name="_LoginPartial.cshtml">
            </div>
        </div>
    </nav>

    <script src="~/main/asset/js/jquery-3.3.1.min.js"></script>
    <script src="~/main/bootstrap/js/bootstrap.min.js"></script>  
    <script>
        $(document).ready(function() {
            $(".wish-icon i").click(function() {
                $(this).toggleClass("fa-heart fa-heart-o");
            });
        });
    </script>