
@model IEnumerable<comestic_csharp.Models.Category>
<li style="list-style: none;">
                
                    <div class="categor-list">
                        @foreach (var item in Model)
                        {
                            <a class="dropdown-item" asp-action="ListSP" asp-controller="Category" asp-route-id="@item.Id">@item.Title</a>
                        }
                    </div>
</li>