<!DOCTYPE html>
<html>
<head>
    <title>PUN COMESTIC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="~/main/Home.css">
    <link rel="stylesheet" type="text/css" href="~/main/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/main/font-awesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
    <partial name ="_HeaderTest.cshtml" />
    @* <partial name ="_Header.cshtml" /> *@
    


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <partial name ="_Footer.cshtml" />
    
    

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>