@model IEnumerable<comestic_csharp.Models.Product>

<div class="container">
    
        <h3 class="list-product-title">TOP REVIEWED</h3>
        <div class="product-group">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="card card-product mb-3">
                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                            <img class="card-img-top" src="./storage/@item.Photo1" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title product-title">@item.Title</h5>
                                <div class="card-text product-price">
                                    <span class="del-price">@item.Price</span>
                                    <span class="new-price">80.000 vnd</span>
                                </div>
                                <a class="btn btn-info btn-add-to-cart"><i class="fas fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

  
</div>