@model comestic_csharp.Models.Banner

        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">BANNER</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a class="pc-link" asp-action="index" asp-controller="BannerA">Banner</a></li>
                            <li class="breadcrumb-item">Create Banner</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
    <div class="pcoded-content">
            <!-- [ form-element ] start -->
                <div class="card">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h3 class="card-header">
                                <mark>Create New Banner</mark>
                        </h3>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Slug" class="control-label"></label>
                                <input asp-for="Slug" class="form-control" />
                                <span asp-validation-for="Slug" class="text-danger"></span>
                            </div>
                            <div class="form-file mb-3">
                                <label asp-for="Photo" class="form-file-label"></label>
                                <input asp-for="Photo" type="file" class="form-file-input"  required>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                            </div>
                        </div>
                    </form>
                </div>
            <!-- [ form-element ] end -->
        <!--- Main Content ] end -->
    </div>