@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v1 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/admin2/assets/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->

    <link rel="stylesheet" href="/admin2/assets/css/style_resset.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('/admin2/assets/images/nenpaa.png');">
        <div class="inner">
            <div class="image-holder">
                <img src="/admin2/assets/images/passs.png" alt="">
            </div>
           
             <form method="post">
                  <h3>Reset Password</h3>
                  <h4>No worries! Just enter your email and we'll send you a reset password link.</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-wrapper">
                 
                        <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
    
       
            </div>
    </div>

</body>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
