@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout=null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm_v1 by Colorlib</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/admin2/assets/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/admin2/assets/css/style_regi.css">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('/admin2/assets/images/nen2.png');">
			<div class="inner">
				<div class="image-holder">
					<img src="https://i.pinimg.com/564x/8d/7e/d9/8d7ed99c33b1f93fe0e6a2d4ed64b3a1.jpg" alt="">
				</div>
			   <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
          <h3>Registration</h3>
        
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-wrapper">
               
                <input asp-for="Input.Email" placeholder="Email Address" class="form-control" />

                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-wrapper">
       
                <input asp-for="Input.Password"  placeholder="Password" class="form-control" />
			
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-wrapper">
  
                <input asp-for="Input.ConfirmPassword"  placeholder="Confirm Password" class="form-control" />
              
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>