@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v1 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/admin2/assets/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->

    <link rel="stylesheet" href="/admin2/assets/css/style_resend.css">
</head>
 <div class="wrapper" style="background-image: url('/admin2/assets/images/nense.png');">
        <div class="inner">
            <div class="image-holder">
                <img src="/admin2/assets/images/email.png" alt="">
            </div>

        <form method="post">
            <h3>Reset Password</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-wrapper">
              
                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Resend</button>
        </form>
    </div>
</div>
             @* <form method="post">
                  <h3>Reset Password</h3>
                  <h4>Vui lòng nhập đại chỉ email. Bạn sẽ dẫn đến địa chỉ lấy lại tài khoản.</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <button type="submit" class="btn btn-primary">Resend</button>
            </div>
                    
                        
                   
                </form> *@
    
       



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
