@using comestic_csharp.Areas.Identity.Data
@{
    ShopDbContext context = new ShopDbContext();
    var cat = context.Categories.ToList();
}   
                            <div class="shop-sidebar">
								<!-- Single Widget -->
								<div class="single-widget category">
									<h3 class="title">Categories</h3>
									<ul class="categor-list">
										@foreach (var item in cat)
										{
											<li><a asp-action="ListMakeUp" asp-route-id="@item.Id">@item.Title</a></li>
										}
									</ul>
								</div>
								<div class="single-widget range">
                                    <h3 class="title">Shop by Price</h3>
                                    <div class="price-filter">
                                        <div class="price-filter-inner">

                                            <div id="slider-range" data-min="0" data-max="2000000"></div>
                                            <div class="product_filter">
                                                <button type="submit" class="filter_button">Filter</button>
                                                <div class="label-input">
                                                    <span>Range:</span>
                                                    <input style="" type="text" id="amount" readonly/>
                                                    <input type="hidden" name="price_range" id="price_range" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="single-widget side-tags">
                                    <h3 class="title">Tags</h3>
                                    <ul class="tag">
                                        <li><a href="#">Nature</a></li>
                                        <li><a href="#">Oragnic</a></li>
                                        <li><a href="#">Fresh</a></li>
                                        <li><a href="#">Spa</a></li>
                                        <li><a href="#">Beauty</a></li>

                                    </ul>
                                </div>
						    </div>