                        <div class="row">
							<div class="col-12">
								<!-- Shop Top -->
								<div class="shop-top">
									<div class="shop-shorter">
										<div class="single-shorter">
											<label>Show :</label>
											<select asp-items="ViewBag.Show" id="show" name="show">
												<option>Choose</option>
											</select>
										</div>
										<div class="single-shorter">
											<label>Sort By :</label>
											<select asp-items="ViewBag.SortBy" id="sort" name="sort">
												<option>Choose</option>
											</select>
										</div>
									</div>
									<ul class="view-mode">
										<li class="active"><a href="shop-grid.html"><i class="fa fa-th-large"></i></a></li>
										<li><a asp-action="list" asp-controller="Shop"><i class="fa fa-th-list"></i></a></li>
									</ul>
								</div>
								<!--/ End Shop Top -->
							</div>
						</div>