@{
	Layout = "/Views/Shared/_MainLayout.cshtml";
}
<div class="pcoded-content">
    <div class="row">
        @await Html.PartialAsync("_ProfileBar")
        <div class="col col-10">
            <div class="card">
                <h3 class="card-header">Change password</h3>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form id="change-password-form" asp-action="UpdatePassword" asp-controller="Shop">
                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input name="cp" class="form-control" type="password"/>
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input name="np" class="form-control" type="password" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <input name="cnp" class="form-control" type="password"/>
                                    <span class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Update password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>