@model IEnumerable<comestic_csharp.Models.Product>

@{
    ViewData["Title"] = "PRODUCT";
    Layout = "/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="breadcrumbs">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Make Up</li>
                    </ol>
            </nav>
        </div>
    </div>
    <h3 class="list-product-title">ALL PRODUCT</h3>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-12">
            
        </div>
        <div class="col-lg-9 col-md-8 col-12">
            <div class="product-group">
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card card-product mb-3">
                                <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                <img class="card-img-top" src="./storage/@item.Photo1" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title product-title">@item.Title</h5>
                                    <div class="card-text product-price">
                                        <span class="del-price">@item.Price</span>
                                        <span class="new-price">80.000 vnd</span>
                                    </div>
                                    @if(User.Identity.IsAuthenticated){
                                        <a class="btn btn-info btn-add-to-cart" asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.Id"><i class="fas fa-shopping-cart"></i></a>
                                    }
                                    else{
                                        <a class="btn btn-info btn-add-to-cart" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-shopping-cart"></i></a>
                                    }
                                    <a class="btn btn-outline-success btn-detail" asp-action="Details" asp-controller="Shop" asp-route-id="@item.Id">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>